@import 'styles/_base.scss';

.Result {
  * {
    @extend .ContentFont;
    text-align: center;
  }
  .BMI {
    font-size: 4rem;
  }
  .Verdict {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .AdditionalInfo {
    @extend .FlexColumn, .FlexJustifyCenter, .FlexAlignCenter, .ContentFont;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 2px #888;
    margin: 2rem 0;
    padding: 1.5rem;
    .VerdictTitle {
      font-size: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .VerdictContent {
      text-align: left !important;
      line-height: 3rem;
      .ContentHighlight {
        // font-size: 1.5rem;
        padding: 7px;
        background: #777;
        color: white;
        border-radius: 5px;
      }
    }
    .CloseResult {
      @extend .ContentFont;
    }
  }
}

.Nothing {
  @extend .FlexColumn, .FlexJustifyCenter, .FlexAlignCenter, .ContentFont;
  font-size: 2rem;
  .FillSection {
    @extend .FlexColumn, .FlexJustifyCenter, .FlexAlignCenter, .ContentFont;
    // border: 1px solid #ddd;
    box-shadow: 0 0 2px #333;
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .Result {
    padding-top: 3rem;
    overflow: hidden;
    height: 100vh;
    background: #eef4ed;
    .InputPane {
      width: 100%;
    }
    .AdditionalInfo {
      // padding: 2rem;
      margin: 1.5rem;
      padding: 0.7rem;
    }
    .CloseResult {
      background: black;
      position: fixed;
      bottom: 0;
      left: 0;
      font-size: 1.2rem;
      padding: 1rem 0.5rem;
      text-align: center;
      color: #eef4ed;
      width: 100vw;
    }
  }
}
