// https://fonts.google.com/specimen/Quicksand?sidebar.open=true&selection.family=Open+Sans|Quicksand
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  *{
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-select: none !important;
  }
}